* {
  margin: 0px;
  padding: 0px;
  font-size: 62.5%;
}

body {
  font-family: 'Chakra Petch', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@700&display=swap');

@font-face {
  font-family: airbnb;
  src: url('../font/AirbnbCereal.otf');
}

.hero {
  display: flex;
}

.hero .content {
  height: 100vh;
  width: 70vw;
  background-color: var(--global-color-primary);
}

.hero .decoration {
  height: 100vh;
  width: 30vw;
  background-color: var(--global-color-secondary);
}

.navbar {
  display: flex;
}

.navbar .primary-navbar {
  position: absolute;
  top: 4rem;
  left: 5rem;
}

.navbar .primary-navbar ul {
  display: flex;
  list-style: none;
}

.navbar .primary-navbar li {
  font-size: 2.5rem;
  color: var(--global-text-secondary);
  padding: 0rem 5rem 0 5rem;
  font-family: var(--global-font-family);
}

.navbar .primary-navbar a {
  text-decoration: none;
  color: var(--global-text-secondary);
}

.navbar .primary-navbar a:visited {
  color: var(--global-text-secondary);
}

.navbar .primary-navbar a:hover {
  color: #C4C4C4;
}

.navbar .primary-navbar a:focus {
  text-decoration: underline;
}

.navbar .secondary-navbar {
  position: absolute;
  right: 15rem;
  top: 4rem;
}

.navbar .secondary-navbar ul  li {
  font-size: 2.5rem;
  color: var(--global-text-secondary);
  list-style: none;
  font-family: var(--global-font-family);
}

.navbar .secondary-navbar a {
  color: var(--global-text-primary);
  text-decoration: none;
}

.navbar .secondary-navbar a:visited {
  color: var(--global-text-primary);
}

.navbar .secondary-navbar a:active {
  color: var(--global-text-secondary);
}

.navbar .secondary-navbar ul li .login {
  display: flex;
  align-items: center;
}

.navbar .secondary-navbar ul li .login .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  font-size: 3rem;
  color: var(--global-text-secondary);
  background-color: var(--global-color-primary);
  border-radius: 2rem;
  margin-right: 1rem;
}

/* .navbar .secondary-navbar ul li .login .icon:active {
  background-color: var(--global-color-secondary);
} */

.hero .content .jumbotron {
  position: absolute;
  top: 30rem;
  left: 10rem;
}

.hero .content .jumbotron h1 {
  width: 50rem;
  font-size: 6rem;
  color: var(--global-text-secondary);
  font-family: var(--global-font-family);
}

.hero .content .jumbotron .search {
  margin-top: 3rem;
  width: 50rem;
  height: 6rem;
  background-color: var(--global-text-primary);
  display: flex;
}

.hero .content .jumbotron .search .input {
  font-family: airbnb;
  width: 49.5rem;
  border: none;
  font-size: 1.8rem;
  color: var(--global-text-secondary);
}

.hero .content .jumbotron .search .input:focus {
  outline: none;
}

.hero .content .jumbotron .search .icon {
  width: 4rem;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero .content .jumbotron .search .icon i {
  font-size: 2rem;
  color: #C4C4C4;
}

.decoration .bg {
  position: absolute;
}

.decoration .bg .vector-one {
  position: absolute;
  top: 20rem;
  right: 1rem;
  width: 25rem;
  height: 20rem;
}

.decoration .bg .vector-two {
  position: absolute;
  top: 35rem;
  right: 1rem;
  width: 25rem;
  height: 20rem;
}

.decoration .bg .food-decoration .vegetable {
  top: 2rem;
  right: -20rem;
  position: absolute;
  width: 38rem;
  height: 50rem;
}

.decoration .bg .food-decoration .food {
  top: 15rem;
  right: -20rem;
  position: absolute;
  width: 47rem;
  height: 47rem;
}

.title {
  position: relative;
  width: 100%;
  margin-top: -2rem;
  background-color: var(--global-color-primary);
}

.title .box-popular {
  position: relative;
}

.title .box-popular h1 {
  margin-top: 2rem;
  margin-left: 5rem;
  font-size: 4rem;
  font-family: var(--global-text-primary);
  color: var(--global-text-secondary);
  border-left: var(--global-color-secondary) 1rem solid;
  padding-left: 1rem;
}

.title .box-popular .vector
 {
  margin: 3rem 0rem 0rem 2rem;
  height: 4rem;
  width: 30rem;
}

.title .box-popular .wrapping-image
 {
  display: flex;
  width: 50%;
  justify-content: space-around;
}

.title .box-popular .wrapping-image .food
 {
  position: relative;
  height: 30rem;
  width: 30rem;
  margin-top: 2rem;
  background-color: aqua;
  background-size: 30rem 30rem;
  border-radius: 2rem;
}

.title .box-popular .wrapping-image .food .food-image
 {
  height: 30.6rem;
  border-radius: 2rem;
  width: 30.9rem;
  object-fit: cover;
}

.title .box-popular .wrapping-image .food h4
 {
  position: absolute;
  font-size: 3rem;
  width: 16rem;
  font-family: var(--global-font-family);
  font-weight: 500;
  color: var(--global-text-primary);
  left: 1rem;
  bottom: 1rem;
}

.box-new-recipe {
  position: relative;
}

.box-new-recipe .txt-recipe {
  margin-top: 22rem;
  margin-left: 5rem;
  font-size: 4rem;
  font-family: var(--global-text-primary);
  color: var(--global-text-secondary);
  border-left: var(--global-color-secondary) 1rem solid;
  padding-left: 1rem;
}

.box-new-recipe .bx-n {
  position: relative;
  display: flex;
  margin-top: 8rem;
}

.box-new-recipe .bx-n .bx-n-primary {
  width: 60%;
  height: 70rem;
}

.box-new-recipe .bx-n .bx-n-primary .bg-image {
  height: 50rem;
  width: 50rem;
  background-color: var(--global-color-secondary);
}

.box-new-recipe .bx-n .bx-n-primary .bg-image img {
  position: absolute;
  left: 10rem;
  top: 8rem;
  width: 50rem;
  height: 50rem;
  background-size: cover;
  border-radius: 1rem;
  object-fit: cover;
}

.box-new-recipe .bx-n .bx-n-secondary .line {
  margin-top: 2rem;
  width: 10rem;
  height: .2rem;
  background-color: #3F3A3A;
}

.box-new-recipe .bx-n .bx-n-secondary .txt-recipe-two {
  margin-top: 10rem;
  width: 45rem;
  font-size: 4rem;
  color: #3F3A3A;
}

.box-new-recipe .bx-n .bx-n-secondary p {
  margin-top: 3.7rem;
  width: 53rem;
  font-size: 2.4rem;
  font-family: var(--global-font-family);
  color: #3F3A3A;
}

.box-new-recipe .bx-n .bx-n-secondary button {
  margin-top: 5rem;
  width: 20rem;
  height: 6rem;
  background-color: var(--global-color-secondary);
  border: none;
  font-size: 2rem;
  font-family: var(--global-font-family);
  color: var(--global-text-primary);
  border-radius: .8rem;
  transition-duration: 0.4s;
  cursor: pointer;
}

.box-new-recipe .bx-n .bx-n-secondary button:hover {
  background-color:#C4C4C4;
}

.box-ls-popular {
  position: relative;
  height: 85rem;
}

.box-ls-popular h1 {
  margin-left: 5rem;
  font-size: 4rem;
  font-family: var(--global-text-primary);
  color: var(--global-text-secondary);
  border-left: var(--global-color-secondary) 1rem solid;
  padding-left: 1rem;
}

.box-ls-popular .box-one {
  margin-left: 2rem;
  position: relative;
  width: 95%;
  margin-top: 5rem;
  justify-content: space-between;
  display: flex;
}

.box-ls-popular .box-image {
  position: relative;
  width: 95%;
  align-items: center;
  margin-left: 4rem;
}

.box-ls-popular .box-image img {
  width: 30rem;
  height: 30rem;
  object-fit: cover;
  border-radius: 2rem;
}

.box-ls-popular .box-image h4 {
  position: absolute;
  bottom: 3rem;
  width: 18rem;
  left: 2rem;
  font-size: 3rem;
  font-family: var(--global-font-family);
  color: #3F3A3A;
}

.box-ls-popular .box-image .w-text {
  width: 20rem;
}

.box-ls-popular .box-two {
  position: relative;
  width: 95%;
  margin-left: 2rem;
  margin-top: 5rem;
  justify-content: space-between;
  display: flex;
}

.ct-footer {
  position: relative;
}

.ct-footer .footer {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 60vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--global-color-secondary);
}

.ct-footer .footer .ct-text h1 {
  font-size: 6rem;
  color: var(--global-text-secondary);
  font-weight: 400;
}

.ct-footer .footer .ct-text p {
  margin-top: 2rem;
  font-size: 2rem;
  color: var(--global-text-secondary);
  font-weight: 400;
}

.ct-footer .footer .cr {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 5rem;
}

.ct-footer .footer .cr .ct-cr {
  position: absolute;
} 

.ct-footer .footer .cr ul {
  width: 30rem;
  display: flex;
  justify-content: space-between;
}

.ct-footer .footer .cr ul li {
  font-size: 2rem;
  list-style: none;
}

.ct-footer .footer .cr .ct-cr ul li a {
  text-decoration: none;
  color: #707070;
}

.ct-footer .footer .cr .ct-cr ul li a:hover {
  color: #666666;
  text-decoration: underline;
}

.ct-footer .cr .pijarcamp {
  width: 8rem;
  position: absolute;
  left: 35rem;
}

.ct-footer .cr .pijarcamp ul li a {
  font-size: 1.4rem;
  font-weight: 700;
  color: #3F3A3A;
  text-decoration: none;
  font-family: var(--global-font-family);
}

@media screen and (max-width: 720px){
  * {
    font-size: 50%;
  }
}

@media screen and (max-width: 520px){
  * {
    font-size: 45%;
  }
  .title .box-popular .wrapping-image {
    flex-direction: column;
    margin-left: 6rem;
  }
  .box-ls-popular .box-one {
    flex-direction: column;
  }
  .box-ls-popular .box-two {
    display: none;
  }
  .box-ls-popular .box-image {
    margin-top: 4rem;
  }

}
