* {
  margin: 0px;
  padding: 0px;
  font-size: 62.5%;
}

body {
  font-family: 'Chakra Petch', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@700&display=swap');

@font-face {
  font-family: airbnb;
  src: url('../font/AirbnbCereal.otf');
}

.container {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: var(--global-color-primary);
}

.container-logo {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../image/beginning.png');
  height: 100vh;
  width: 50vw;
  background-repeat: no-repeat;
  background-size: cover;
}

.container-logo::after {
  content: "";
  background-color: rgba(239, 200, 26, .7);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.container-logo .logo {
  width: 18.2rem;
  height: 22.4rem;
  z-index: 1;
}

.container-logo .text-logo {
  color: var(--global-text-primary);
  z-index: 2;
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: 500;
  font-family: var(--global-font-family);;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50vw;
  height: 100vh;
  background-color: var(--global-color-primary);
}

.login h2 {
  color: var(--global-color-secondary);
  font-size: 2.7rem;
  z-index: 2;
  font-weight: 600;
}

.login h4 {
  color: #8692A6;
  font-weight: 200;
  font-size: 1.6rem;
  margin-top: 2rem;
}

.login .form-login {
  width: 80%;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login .form-login input[type=password], input[type=text], input[type=submit], select {
  width: 37rem;
  padding: 1.2rem 2rem;
  border: .1rem solid #8692A6;
  border-radius: .4rem;
  box-sizing: border-box;
  font-size: 1.2rem;
  border: none;
}

.login .form-login input[type=password], input[type=text]:focus {
  outline-color: #ffd92f;
}

.login .form-login .c-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.login .form-login .c-form .input{
  font-size: 1.4rem;
  margin-top: 2rem;
  margin-bottom: 1.4rem;
  color: #696F79;
}

.login .form-login .checkbox {
  height: 2rem;
  margin-top: 2rem;
  justify-content: space-between;
  width: 18rem;
  display: flex;
  font-size: 2rem;
  color: #696F79
}

.t-checkbox {
  accent-color: var(--global-color-secondary);
}

.login .form-login .submit {
  margin-top: 3rem;
  background-color: var(--global-color-secondary);
  font-size: 1.4rem;
  color: var(--global-text-primary);
  border: none;
  padding: 1.5rem 0rem 1.5rem 0rem;
}

.login .form-login .submit:hover {
  background-color: #ffd92f;
  color: #818181;
}

.login .fw {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
  width: 37rem;
}

.login p {
  margin-top: 5.5rem;
  font-family: airbnb;
  font-size: 1.2rem;
  color: #999999;
}

.login .register {
  color: var(--global-color-secondary);
  text-decoration: none;
  font-size: 1.2rem;
}

.login .register:hover {
color: #ffe058
}

@media screen and (max-width: 780px) {
  .container {
    align-items: center;
    justify-content: center;
  }
  .container-logo {
    display: none;
  }
}

@media screen and (max-width: 520px){
  * {
    font-size: 50%;
  }
  .login .form-login .checkbox {
    width: 15rem;
    align-items: center;
  }
}