*{
  margin: 0px;
  padding: 0px;
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Chakra Petch', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@700&display=swap');

@font-face {
  font-family: airbnb;
  src: url('../font/AirbnbCereal.otf');
}

.nav-style {
  margin-top: 3rem;
}

.nav-color {
  background-color: var(--global-color-primary) !important;
  z-index: 99;
  width: 100%;
}

.nav-icon {
  display: none;
  margin-right: 1rem;
  width: 2rem;
  height: 2rem;
}

.text-nav {
  color: var(--global-text-secondary) !important;
  font-size: 1.8rem;
  font-weight: 500;
  margin-left: 7rem;
}

.text-nav:hover {
  color: var(--global-color-secondary) !important;
}

@media screen and (max-width: 990px) {
  .nav-icon {
    display: inline;
  }
}

/* Landing Page */

.secondary-navbar {
  display: flex;
  position: relative;
  width: 80rem;
  height: 4rem;
}

.login {
  position: absolute;
  right: 5rem;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 2rem;
  color: var(--global-text-primary);
  cursor: pointer;
}

.login:hover {
  text-decoration: none;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  font-size: 3rem;
  color: var(--global-text-secondary);
  background-color: var(--global-color-primary);
  border-radius: 2rem;
  margin-right: 1rem;
}

.icon:hover {
cursor: pointer;
}

.icon img {
  width: 2.5rem;
  height: 2.5rem;
}

.ps-a {
  position: absolute;
}

.hero {
  display: flex;
  justify-content: center;
  width: 100%;
}

.content {
  width: 70vw;
  height: 100vh;
  background-color: var(--global-color-primary);
}

.decoration {
  height: 100vh;
  width: 30vw;
  background-color: var(--global-color-secondary);
}

.hero .content .cover {
  position: absolute;
  top: 25rem;
  left: 10rem;
}

.hero .content .cover h1 {
  width: 50rem;
  font-size: 6rem;
  color: var(--global-text-secondary);
  font-family: var(--global-font-family);
}

.hero .content .cover .search {
  padding: 1rem;
  margin-top: 3rem;
  width: 50rem;
  height: 5.5rem;
  background-color: var(--global-text-primary);
  display: flex;
}

.search img {
  width: 3rem;
  height: auto;
}

.hero .content .cover .search .input {
  padding-left: 1rem;
  font-family: airbnb;
  width: 49.5rem;
  border: none;
  font-size: 1.8rem;
  color: var(--global-text-secondary);
}

.hero .content .cover .search .input:focus {
  outline: none;
}

.decoration .bg {
  position: absolute;
}

.decoration .bg .vector-one {
  position: absolute;
  top: 20rem;
  right: 1rem;
  width: 25rem;
  height: 20rem;
}

.decoration .bg .vector-two {
  position: absolute;
  top: 35rem;
  right: 1rem;
  width: 25rem;
  height: 20rem;
}

.decoration .bg .food-decoration .vegetable {
  top: 2rem;
  right: -20rem;
  position: absolute;
  width: 38rem;
  height: 50rem;
}

.decoration .bg .food-decoration .food {
  top: 15rem;
  right: -20rem;
  position: absolute;
  width: 47rem;
  height: 47rem;
}

.title-recipe {
  position: relative;
  width: 100%;
  margin-top: -2rem;
  background-color: var(--global-color-primary);
}

.title-recipe .box-popular {
  position: relative;
}

.title-recipe .txt-title {
  margin-top: 2rem;
  margin-left: 5rem;
  font-size: 4rem;
  font-family: var(--global-text-primary);
  color: var(--global-text-secondary);
  border-left: var(--global-color-secondary) 1rem solid;
  padding-left: 1rem;
}

.title-recipe .box-popular .vector
 {
  margin: 3rem 0rem 0rem 2rem;
  height: 4rem;
  width: 30rem;
}

.title-recipe .box-popular .wrapping-image
 {
  margin-left: 1rem;
  width: 50%;
  justify-content: space-around;
  display: flex;
}

.title-recipe .box-popular .wrapping-image .food
 {
   margin-left: 4rem;
  height: 29rem;
  width: 29rem;
  margin-top: 2rem;
  border-radius: 2rem;
}

.title-recipe .box-popular .wrapping-image .food .food-image
 {
  height: 30.6rem;
  border-radius: 2rem;
  width: 30.9rem;
  object-fit: cover;
}

.title-recipe .box-popular .wrapping-image .food h4
 {
  position: absolute;
  font-size: 3rem;
  width: 16rem;
  font-family: var(--global-font-family);
  font-weight: 500;
  color: var(--global-text-primary);
  left: 3rem;
  bottom: 0.5rem;
}

.box-new-recipe {
  margin-top: 13rem;
  position: relative;
}

.box-new-recipe .bx-n {
  position: relative;
  display: flex;
  margin-top: 8rem;
}

.box-new-recipe .bx-n .bx-n-primary {
  width: 50rem;
}

.box-new-recipe .bx-n .bx-n-primary .bg-image {
  height: 50rem;
  width: 50rem;
  background-color: var(--global-color-secondary);
  margin-left: -20rem;
}

.box-new-recipe .bx-n .bx-n-primary .bg-image .img-nr {
  position: absolute;
  left: 10rem;
  top: 8rem;
  width: 50rem;
  height: 50rem;
  background-size: cover;
  border-radius: 1rem;
  object-fit: cover;
  margin-left: -10rem;
}

.bx-n-secondary {
  margin-left: 18rem;
}

.box-new-recipe .bx-n .bx-n-secondary .line {
  margin-top: 2rem;
  width: 10rem;
  height: .2rem;
  background-color: #3F3A3A;
}

.box-new-recipe .bx-n .bx-n-secondary .txt-recipe-two {
  margin-top: 10rem;
  width: 45rem;
  font-size: 4rem;
  color: #3F3A3A;
}

.box-new-recipe .bx-n .bx-n-secondary p {
  margin-top: 3.7rem;
  width: 53rem;
  font-size: 2.4rem;
  font-family: var(--global-font-family);
  color: #3F3A3A;
}

.box-new-recipe .bx-n .bx-n-secondary button {
  margin-top: 5rem;
  width: 20rem;
  height: 6rem;
  background-color: var(--global-color-secondary);
  border: none;
  font-size: 2rem;
  font-family: var(--global-font-family);
  color: var(--global-text-primary);
  border-radius: .8rem;
  transition-duration: 0.4s;
  cursor: pointer;
}

.box-new-recipe .bx-n .bx-n-secondary button:active {
  outline: none;
}

.box-new-recipe .bx-n .bx-n-secondary button:hover {
  background-color:#C4C4C4;
}

.box-ls-popular {
  margin-top: 20rem;
  position: relative;
  height: 100%;
}

.box-ls-popular .box-image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
}

.box-ls-popular .box-image img {
  width: 30rem;
  height: 30rem;
  object-fit: cover;
  border-radius: 2rem;
}

.box-ls-popular .box-image h4 {
  position: absolute;
  bottom: 2rem;
  width: 18rem;
  left: 4rem;
  font-size: 3rem;
  font-weight: 700;
  font-family: var(--global-font-family);
  color: #3F3A3A;
}

.mb-5 {
  margin-bottom: 10rem !important;
}

@media screen and (max-widt: 990) {
  .secondary-navbar {
    display: none;
  }
}

@media only screen and (max-width: 720px) {
  * {
    font-size: 50%;
  }
  .search {
    width: 40rem !important;
  }
  .txt-hero {
    font-size: 5rem !important;
  }
  /* .food-decoration {
    display: flex;
    left: 20rem !important;
  } */
  .cover {
    z-index: 1;
  }
  .wrapping-image {
    display: flex;
    flex-direction: column;
  }
  .bx-n {
    flex-direction: column;
  }

  .bg-image {
    height: 40rem !important;
  }
  .img-nr {
    width: 40rem !important;
    height: 40rem !important;
  }
  .bx-n-secondary {
    margin-top: 2rem;
    margin-left: -2rem;
  }
  .txt-recipe-two {
    font-size: 4rem;
  }
  .bx-n-secondary  p {
    max-width: 40rem;
  }
  .box-ls-popular{
    align-items: center;
    justify-content: center;
  }
  .box-image {
    margin-top: 5rem;
  }
  .box-image h4 {
    left: -3rem !important;
  }
  .box-one {
    display: none;
  }
  .box-two {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .cr {
    width: 60% !important;
  }
  .pijarcamp {
    right: 2rem !important;
  }
}

@media only screen and (max-width: 520px) {
  .cover {
    margin-top: -8rem !important;
    margin-left: -8rem !important;
  }
  .food-decoration {
    position: absolute;
    display: flex;
    bottom: -25rem;
  }
  .box-image h4 {
    left: -8rem !important;
  }
  .bg-image img {
    margin-left: -5rem !important;
    width: 30rem !important;
    height: 30rem !important;
  }
  .vegetable, .food {
    width: 40rem !important;
    height: 40rem !important;
    right: 5rem !important;
  }
  .bx-n-secondary {
    margin-left: 4rem;
  }
  .bx-n-secondary h1 {
    font-size: 5rem !important;
    width: 35rem !important;
  }
  .bx-n-secondary p {
    width: 35rem !important;
  }
}

/* Detail Recipe */

.box-container {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-color: var(--global-color-primary) !important;
}

.box{
  width: 80%;
  align-items: center;
  flex-direction: column;
  display: flex;
}

.container-one {
  flex-direction: column;
}

.box-one, .box-two {
  margin-top: 5rem;
}

.box-image {
  position: relative;
}

.box-image img {
  width: 60rem;
  height: 40rem;
  object-fit: cover;
  border-radius: 1.5rem;
}

.action { 
  position: absolute;
  right: 1rem;
  bottom: 1.5rem;
}

.bg-bookmark {
  background-color: var(--global-color-secondary);
  margin-right: 1rem;
}

.box-image .icon-action {
  height: 3.5rem;
  width: 3.5rem;
}

.title {
  font-size: 4.5rem;
  font-weight: 600;
  text-align: center;
  color: var(--global-text-secondary) !important;
  margin-top: 3rem;
}

.txt {
  margin-top: 6rem;
  color: #3F3A3A;
  font-size: 2.8rem;
  font-family: var(--global-font-family);
}

.container-two {
  justify-content: center;
  align-items: center;
  width: 65%;
}

.txt-recipe {
  margin-top: 2.5rem;
  font-size: 2rem;
  margin-bottom: 2.5rem;
}

.play {
  margin-top: 2rem;
  width: 35rem;
  height: 7rem;
  border-radius: 1rem;
  border: none;
  font-size: 2rem;
  background-color: var(--global-color-secondary);
  cursor: pointer;
  animation-duration: 0.9m;
}

.play:hover {
  background-color: #c7c7c7;
}

.play:focus {
  outline: none;
}

.comment {
  padding: 1.5rem;
  margin-top: 15rem;
  width: 100%;
  min-height: 20rem;
  border-radius: 1rem;
  border: none;
  background-color: #ffffff;
  font-size: 2rem;
}

.comment:focus {
  outline-color: var(--global-color-secondary);
}

.btn-send {
  margin-top: 5rem;
  width: 40rem;
  height: 4rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 2rem;
  background-color: var(--global-color-secondary);
  cursor: pointer;
  color: white;
}

.btn-send:hover {
  background-color: #c7c7c7;
}

.btn-send:focus {
  outline: none;
}

.box-comment {
  width: 65%;
  margin-bottom: 20rem;
}

.user-comment {
  display: flex;
  align-items: center;
}

.user-comment img {
  margin-top: 1rem;
  height: 6.4rem;
  width: 6.4rem;
  object-fit: cover;
  border-radius: 3.2rem;
}

.box-comment-user {
  margin-left: 1rem;
}

.box-comment-user h4 {
  margin-top: 2rem;
  font-size: 1.8rem;
  font-weight: 600;
  font-family: var(--global-font-family);
}

.box-comment-user p {
  font-size: 1.8rem;
  font-family: var(--global-font-family);
}

.container-footer {
  height: 40rem;
  width: 100%;
  background-color: var(--global-color-secondary);
}

.container-footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-footer .box-txt-footer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.container-footer .box-txt-footer h1 {
  font-size: 5rem;
  font-weight: 400;
  color: var(--global-text-secondary);
}

.container-footer .box-txt-footer p {
  margin-top: 2rem;
  font-size: 1.8rem;
  font-weight: 400;
  color: #707070 !important;
  color: var(--global-text-secondary);
}

.container-footer .cr {
  display: flex;
  position: absolute;
  bottom: 2rem;
  width: 25%;
}

.container-footer .cr ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.container-footer .cr ul li a {
  font-size: 1.2rem;
  color: #707070;
}

.pijarcamp {
  position: absolute;
  bottom: 2rem;
  right: 20rem;
  font-size: 2rem;
}

.pijarcamp p {
  color: #000;
  font-weight: 500;
}

@media screen and (max-width: 720px) {
  .box-image img {
    width: 50rem;
    height: 30rem;
    object-fit: cover;
    border-radius: 1.5rem;
  }
  .title {
    font-size: 3.5rem;
  }
  .play {
    width: 25rem;
    height: 6rem;
  }
  .box-comment {
    width: 100%;
    margin-bottom: 20rem;
  }
}

@media screen and (max-width: 420px) {
  .box-image img {
    width: 30rem;
    height: 20rem;
    object-fit: cover;
    border-radius: 1.5rem;
  }
  .btn-send {
    margin-left: 0.2rem !important;
  }
}

/* Style Add Recipe */

.input-image {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 1.2rem;
  width: 65vw;
  height: 40rem;
  margin-bottom: 5rem;
}

.input-gr {
  display: flex;
  flex-direction: column;
}

.label-image {
  font-size: 2rem;
}

.input-title {
  font-size: 2rem !important;
  width: 65vw !important;
  height: 6rem !important;
  border: none !important;
  border-radius: .7rem !important;
  margin-bottom: 5rem !important;
  padding-left: 2rem !important;
  background-color: #fff !important;
}

.input-title:focus {
  outline-color: var(--global-color-secondary);
}

.input-ingredients {
  margin-bottom: 5rem;
  max-width: 100%;
  border: none;
  border-radius: 1.5rem;
  font-size: 2rem;
  padding: 1.5rem;
}

.input-ingredients:focus {
  outline-color: var(--global-color-secondary);
}

.input-vidio {
  font-size: 2rem;
  width: 65vw;
  height: 6rem;
  border: none;
  border-radius: .7rem;
  padding-left: 2rem;
}

.input-vidio:focus {
  outline-color: var(--global-color-secondary);
}

.mb-footer {
  margin-bottom: 10rem;
}

@media screen and (max-width: 520px) {
  .btn-send {
    width: 30rem;
    margin-left: -4rem;
  }
  .input-ingredients {
    min-height: 12rem !important;
  }
  .container-one {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 420px) {
  .input-ingredients {
    width: 85%;
  }
  .input-title, .input-ingredients, .input-vidio {
    margin-left: 2rem !important;
  }
  .btn-send {
    width: 20rem;
    margin-left: -4rem;
  }
}


/* Profile Style */

.profile {
  position: relative;
  margin-top: 10rem;
  width: 17rem;
  height: 20rem;
  flex-direction: column;
  display: flex;
  text-align: center;
}

.profile .user-profile {
  width: 17rem;
  height: 17rem;
  object-fit: cover;
  border-radius: 8.5rem;
}

.i-edit {
  position: absolute;
  bottom: 2rem;
  right: 1rem;
}

.i-edit:hover {
  bottom: 2.1rem;
  right: 1.1rem;
}


.profile h1 {
  margin-top: 2rem;
  font-size: 2rem;
  color: #000;
  font-family: var(--global-font-family);
}

.recipe-choice {
  display: flex;
  margin-top: 12rem;
  position: relative;
  flex-direction: column;
  width: 90%;
  height: 50vh;
}

.recipe-choice ul {
  display: flex;
  flex-direction: row;
  width: 45%;
  justify-content: space-around;
}

.recipe-choice ul li a {
  font-size: 1.6rem;
  color: #666666;
  font-style: medium;
  font-family: var(--global-font-family);
  text-decoration: none;
}

.recipe-choice ul li a:focus {
  color: #000 !important;
}

.hr-style {
  border: .1rem solid #9c9c9c;
}

.box-choice {
  position: relative;
  margin-top: 5rem;
  display: flex;
}

.box-image-choice {
  position: relative;
}

.box-choice img {
  width: 27rem;
  height: 17rem;
  border-radius: 1rem;
  object-fit: cover;
}

.box-choice h1 {
  position: absolute;
  width: 12rem;
  bottom: 1rem;
  left: 2rem;
  color: #fff;
  font-family: var(--global-font-family);
  font-size: 2.5rem;
}

.bg-edit {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.5rem !important;
  width: 3.5rem !important;
  background-color: #fff;
  border-radius: 1rem;
}

.bg-edit:hover {
  background-color: var(--global-color-primary);
}

.edit-recipe {
  height: 3rem !important;
  width: 3rem !important;
}

.edit-recipe:hover {
  height: 3.2rem !important;
  width: 3.2rem !important;
}

.ml-2 {
  margin-left: 2rem !important;
}

.bg-nav{
  background-color: var(--global-color-primary) !important;
  font-family: var(--global-font-family);
}

.bd-none {
  border: none;
}
.bd:focus {
  border: none;
}

@media screen and (max-width: 520px){
  .recipe-choice ul {
    width: 100%;
  }
  .box-choice {
    max-width: 50rem;
    overflow-y: scroll;
  }
}

/* Detail Vidio Recipe */

.box-container-vidio {
  background-color: var(--global-color-primary);
}

.container-vidio {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100vh;
}

.object {
  position: absolute;
  top: -8rem;
  background-color: var(--global-color-secondary);
  width: 5%;
  height: 130vh;
}

.box-vidio {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  width: 80%;
  height: 100vh;
}

.display-vidio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 75%;
  height: 70%;
}

.title-vidio {
  margin-top: 3rem;
  max-width: 82rem;
}

.title-vidio h1 {
  font-family: var(--global-font-family);
  font-size: 3rem;
  color: #000;
  font-weight: 600;
}

.title-vidio p {
  font-size: 1.6rem;
  font-family: var(--global-font-family);
  color: #AAA;
}

.ct-list {
  margin-top: 5rem;
  width: 25%;
  height: 100vh;
}

.list-vidio {
  width: 100%;
}

.ct-list h2 {
  font-size: 2rem;
  font-weight: bold;
  font-family: var(--global-font-family);
  color: #000;
}

.ct-list h4 {
  font-size: 1.4rem;
  font-weight: 600;
  font-family: var(--global-font-family);
  width: 26.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vidio-one {
  margin-top: 2rem;
}

.vidio-one p {
  font-size: 1rem;
  color: #AAA;
  font-family: var(--global-font-family);
  font-weight: 500;
}

@media screen and (max-width: 720px) {
  .container-vidio {
    flex-direction: column;
    align-items: center;
    width: auto;
    z-index: 9;
  }
  .list-vidio {
    position: absolute;
    display: flex;
    left: 2rem;
  }
  .display-vidio {
    z-index: 9;
  }
  .display-vidio iframe {
    width: 480px !important;
  }
  .next-vidio {
    position: absolute;
    top: 72rem;
    left: 10rem;
  }
  .list-vidio {
    position: absolute;
    top: 75rem ;
    left: 10rem;
    width: 80%;
    justify-content: space-between;
  }
  .three {
    display: none;
  }
  .vidio-one iframe {
    width: 200px !important;
  }
}

@media screen and (max-width: 580px) {
  .display-vidio iframe {
    width: 380px !important;
  }
  .next-vidio {
    position: absolute;
    top: 72rem;
  }
  .list-vidio {
    position: absolute;
    top: 75rem ;
    left: 10rem;
    width: 80%;
    justify-content: space-between;
  }
  .three {
    display: none;
  }
  .vidio-one iframe {
    width: 160px !important;
  }
  .vidio-one h4 {
    width: 80%;
  }
}

@media screen and (max-width: 420px) {
  .display-vidio iframe {
    width: 260px !important;
    height: 240px;
  }
  .title-vidio h1 {
  font-size: 2rem;
  width: 100%;
  }
  .next-vidio {
    position: absolute;
    top: 39rem;
    left: 10rem;
  }
  .list-vidio {
    position: absolute;
    top: 40rem ;
    left: 10rem;
    width: 70%;
    justify-content: space-between;
  }
  .three {
    display: none;
  }
  .vidio-one iframe {
    width: 120px !important;
    height: 70px;
  }
  .vidio-one h4 {
    width: 80%;
  }
}

@media screen and (max-width: 320px) {
  .display-vidio iframe {
    width: 180px !important;
    height: 180px;
    left: 1rem !important;
  }
  .title-vidio h1 {
  font-size: 2rem;
  width: 100%;
  }
  .next-vidio {
    position: absolute;
    top: 39rem;
    left: 2rem !important;
  }
  .list-vidio {
    position: absolute;
    left: -10rem !important;
    top: 40rem ;
    width: 70%;
    justify-content: space-between;
  }
  .three {
    display: none;
  }
  .vidio-one iframe {
    width: 60px !important;
    height: 30px !important;
  }
  .vidio-one h4 {
    font-size: 1rem !important;
    width: 80%;
  }
}

/* Auth Style */

.container-action {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: var(--global-color-primary);
}

.container-logo {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../image/beginning.webp');
  height: 100vh;
  width: 50vw;
  background-repeat: no-repeat;
  background-size: cover;
}

.container-logo::after {
  content: "";
  background-color: rgba(239, 200, 26, .7);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.container-logo .logo {
  width: 18.2rem;
  height: 22.4rem;
  z-index: 1;
}

.container-logo .text-logo {
  color: var(--global-text-primary);
  z-index: 2;
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: 500;
  font-family: var(--global-font-family);;
}

.auth {
  position: absolute;
  right: 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50vw;
  height: 100vh;
  background-color: var(--global-color-primary);
  overflow-x: scroll;
  z-index: 1;
}

.auth h2 {
  color: var(--global-color-secondary);
  font-size: 2.7rem;
  z-index: 2;
  font-weight: 600;
}

.auth h4 {
  color: #8692A6;
  font-weight: 200;
  font-size: 1.6rem;
  margin-top: 2rem;
}

.auth .form-auth {
  width: 80%;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.auth .fw {
  margin-top: 1rem;
  display: flex;
  justify-content: end;
  width: 68%;
}

.auth .fw .forgot {
  color: #999999;
  font-family: var(--global-font-family);
  font-size: 1.2rem;
  font-weight: 100;
  text-decoration: none;
}


.auth .form-auth .input-text {
  width: 37rem;
  padding: 1.2rem 2rem;
  border-radius: .4rem;
  box-sizing: border-box;
  font-size: 1.2rem;
  border: 1px solid #8692A6;
  background-color: #fff;
}

.auth .form-auth .input-text:focus {
  outline-color: #ffd92f;
}

.auth .form-auth .c-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.auth .form-auth .c-form .input-form{
  font-size: 1.4rem;
  margin-top: 2rem;
  margin-bottom: 1.4rem;
  color: #696F79;
}

.auth .form-auth .checkbox {
  height: 2rem;
  margin-top: 2rem;
  justify-content: space-between;
  width: 18rem;
  display: flex;
  font-size: 2rem;
  color: #696F79
}

.t-checkbox {
  accent-color: var(--global-color-secondary);
  cursor: pointer;
}

.auth .form-auth .submit {
  margin-top: 3rem;
  background-color: var(--global-color-secondary);
  font-size: 1.4rem;
  color: var(--global-text-primary);
  border: none;
  padding: 1.5rem 0rem 1.5rem 0rem;
  cursor: pointer;
}

.auth .form-auth .submit:hover {
  background-color: #ffd92f;
  color: #818181;
}

.auth p {
  margin-top: 5.5rem;
  font-family: airbnb;
  font-size: 1.2rem;
  color: #999999;
}

.auth .register {
  color: var(--global-color-secondary);
  text-decoration: none;
  font-size: 1.2rem;
}

.auth .register:hover {
  color: #ffe058
}

.height-form {
  height: 120vh;
}

.auth .signup {
  color: var(--global-color-secondary);
  text-decoration: none;
  font-size: 1.2rem;
}

.txt-center {
  text-align: center;
}

@media screen and (max-width: 780px) {
  .auth {
    width: 100vw;
  }
  .container-action {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .auth h4 {
    font-size: 1.4rem !important;
  }
  .container-logo {
    max-width: 0rem;
    position: relative !important;
    display: none;
  }
  .auth {
    position: relative;
    z-index: 99;
  }
}

@media screen and (max-width: 540px){
  * {
    font-size: 50%;
  }
  body {
    background-color: var(--global-color-primary);
  }
  .auth .form-login .checkbox {
    width: 20rem;
    align-items: center;
  }
  .auth .fw {
    width: 70% !important;
  }
}

@media screen and (max-width: 420px){
  .checkbox {
    width: 15rem !important;
  }
  .auth .fw {
    width: 20rem;
  }
  .auth .fw {
    width: 95% !important;
  }
}

.txt-float {
  width: 33rem;
  text-align: center;
}